<div [@routerTransition]>
    <app-page-header [heading]="'Rules'" [icon]="'fa-code'"></app-page-header>

    <div class="row">
        <div class="col-lg-12">

            <form role="form">

                <div class="form-group">
                    <label>Survei</label>
                    <select class="form-control">
                        <option>SUSENAS (Survei Sosial Ekonomi Nasional)</option>
                        <option>SAKERNAS (Survei Angkatan Kerja Nasional)</option>
                        <option>SBH (Survei Biaya Hidup)</option>
                        <option>Sensus Ekonomi</option>
                        <option>Sensus Penduduk</option>
                    </select>
                </div>

            </form>
            <metadata-list></metadata-list>

            <br>

        </div>
    </div>
    <!-- /.row -->
</div>